<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
		<param name="filter_ground" value="false" />
		<param name="base_frame_id" value="base_footprint" />
		<!-- <param name="frame_id" value="/octomap" /> -->
		<param name="pointcloud_min_z" value="-1.8"/>
		<param name="pointcloud_max_z" value="0.5"/>
		<param name="sensor_model/hit" value="0.7"/>
		<param name="sensor_model/miss" value="0.49"/>
		<param name="resolution" value="0.075"/>
		<remap from="cloud_in" to="/camera/rgb/points" />
		<remap from="map" to="octomap" />
	</node>
</launch>